<div class="container">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <div class="d-flex justify-content-between">
    <% if (message.length > 0) { %>
      <div class="alert alert-danger alert-dismissible fade show text-white" role="alert">
          <strong>Oops! Something Wrong</strong>
          <ul>
              <% message.forEach(element => { %>
               <li><%= element %></li>
              <% }) %>
          </ul>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">x</button>
        </div>
  <% } %>
  <% if (success.length > 0) { %>
    <script nonce="<%= cspNonce %>">
      toastr.success("<%= success %>", "Success!");
    </script>
    <% } %>
    <a href="/food/add" class="btn bg-gradient-success h-25">Add New Food</a>
  </div>
    <div class="card pb-3 mb-5">
        <div class="table-responsive p-3">
          <table class="table align-items-center" id="tblDataFood">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7">Name</th>
                <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 ps-2">Description</th>
                <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 ps-2">Ingredients</th>
                <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 ps-2">Price</th>
                <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 ps-2">Type</th>
                <th class="text-center text-uppercase text-secondary text-sm font-weight-bolder opacity-7 ps-2">Picture</th>
                <th class="text-secondary opacity-7"></th>
              </tr>
            </thead>
          </table>
        </div>
    </div>
</div>