<div class="container">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <div class="d-flex justify-content-between">
      <% if (message.length > 0) { %>
        <div class="alert alert-danger alert-dismissible fade show text-white" role="alert">
            <strong>Oops! Something Wrong</strong>
            <ul>
                <% message.forEach(element => { %>
                 <li><%= element %></li>
                <% }) %>
            </ul>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">x</button>
          </div>
    <% } %>
    <% if (success.length > 0) { %>
      <script nonce="<%= cspNonce %>">
        toastr.success("<%= success %>", "Success!");
      </script>
      <% } %>
      <a href="/user/add" class="btn bg-gradient-success h-25">Add New User</a>
    </div>
      <div class="card mb-5">
          <div class="table-responsive p-3">
            <table class="table align-items-center mb-0" id="tblDataUser">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7">Name</th>
                  <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 ps-2">Email</th>
                  <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 ps-2">Address</th>
                  <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 ps-2">Phone No.</th>
                  <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 ps-2">City</th>
                  <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 ps-2">Role</th>
                  <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 ps-2">House No.</th>
                  <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 ps-2">Picture</th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
            </table>
          </div>
      </div>
  </div>